body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it is behind other content */
}

/* Add to your index.css or App.css */
*:focus {
  outline: none !important;
}

/* For accessibility, add a subtle indicator on keyboard focus only */
*:focus-visible {
  outline: 2px solid #aaaaaa !important;
  outline-offset: 2px !important;
}